ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

section {
  margin-top: 1.5rem;
  width: 90vw;
}

.new-to-do {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: skyblue;
  height: 33vh;
}

.to-do-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 66vh;
  background-color: yellow;
}