.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

section {
  margin-top: 1.5rem;
  width: 90vw;
}

.new-to-do {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: skyblue;
  height: 33vh;
}

.new-task-textarea {
  width: 50%;
  height: 50%;
  margin-bottom: 0.5rem;
}
.new-task-textarea::placeholder {
  color: black;
  text-align: center;
}

.to-do-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 66vh;
  background-color: yellow;
  margin-bottom: 1.5rem;
}

#empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-bottom: 1.5rem;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.edit-task {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.edit-task button {
  margin-left: 1rem;
}